.author-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.author-info img {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.author-info h4 {
  margin: 0px;
}

.links-div > * {
  margin-left: 5px;
  margin-right: 5px;
}

.artist-container {
  text-align: center;
}

.artist-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-detail {
  display: flex;
  margin-top: 16px;
}

.artist-detail > * {
  margin-left: 8px;
  margin-right: 8px;
}

#map-container {
  height: 500px;
  width: 75%;
}

#map-container h2 {
  text-align: center;
  margin-top: 0px;
}

#map {
  height: 100%;
  width: 100%;
  z-index: 3;
}

.artwork-container {
  text-align: center;
}

.artwork-list {
  display: flex;
  list-style: none;
  justify-content: center;
  padding: 0px;
  margin-bottom: 0px;
}

.artwork-list li {
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.artwork-list li img {
  max-width: 80%;
}

.artwork-list h4, p {
  margin: 2px;
}

.artwork-info {
  margin-top: 10px;
  max-width: 250px;
  min-height: 200px;
}

.artwork-info-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 4px;
}

#content {
  text-align: center;
  margin-left: 15px;
}

@media (max-width: 900px) { 
  .artist-detail {
    flex-direction: column;
  }
  .artwork-list {
    display: block;
  }
  #map-container {
    height: 300px;
    width: 100%;
  }
}