.artist-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-container {
  display: flex;
  margin-top: 16px;
}

.artist-container > * {
  margin-left: 8px;
  margin-right: 8px;
}

#map {
  height: 500px;
}

.artwork-container {
  text-align: center;
}

.artwork-list {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
  justify-content: center;
}

.artwork-list li {
  margin-left: 3px;
  margin-right: 3px;
  display: flex;
  flex-direction: column;
  /*text-align: center;*/
}