body {
  font-family: 'Raleway', sans-serif;
}

.hidden {
  display: none;
}

.search-bar-clearer {
  background-color: transparent;
  position: fixed;
    top: 0;
    bottom: 0;
    left: 390px;
}

.search-bar-clearer.clearer-active {
  position: fixed;
    right: 0;
}

.search-outer-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}

.title-div {
  text-align: center;
}

.search-input-div {
  display: flex;
  align-items: center;
}

input {
  width: 194px;
  height: 20px;
  font-size: 15px;
  font-family: 'Raleway', sans-serif;
}

.search-bar-clearer {
  background-color: transparent;
  position: fixed;
    top: 0;
    bottom: 0;
    left: 0px;
}

.inactive {
  display: none;
}

.active {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0px;
}

.search-bar {
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

#search-glass {
  width: 15px;
  cursor: pointer;
}

.search-bar input {
  outline: none;
  z-index: 3;
  position: absolute;
}

.search-story-img {
  width: 32px;
  height: 32px;
}

.input-fade-in {
  font-size: 13px;
  margin-left: 8px;
  border: none;
  animation-name: from-side;
  animation-duration: .7s;
}

@keyframes from-side {
  0% {transform: translateX(100px) }
  100% {transform: translateX(0) }
}

.search-list-container {
  z-index: 3;
  margin-top: 26px;
  position: absolute;
  background: white;
  min-width: 200px;
}

.search-list-container span{
  font-size: 13px;
}

.search-list-item:hover {
  background: lightgray;
}

.search-list {
  list-style: none;
  padding-left: 0px;
  padding-right: 0px;
  width: 100%;
  margin-bottom: 1px;
  margin-top: 3px;
}

.stories-search-list-container {
  text-align: center;
  border: 1px solid lightgray;
}

.story-search-link {
  display: flex;
  align-items: center;
  margin-top: 5px;
  text-decoration: none;
}

.story-search-link > *{
  margin-left: 5px;
  margin-right: 5px;

}
.story-search-link span {
  color: black;
}

.search-story-item > * {
  margin-left: 8px;
  margin-right: 8px;
}